page-page1 {
    .toolbar-background-md {
        background-color: #ff7878;
    }

    .header-md:after {
        background-image: none;
    }

    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: #fff;
    }

    .content {
        background-color: #ff7878;

        p {
            position: absolute;
            top: 40%;
            transform: translateY(-50%);
            text-align: center;
            color: white;
            font-size: 36px;
        }
    }
}


