page-page2 {
    .plugin {
        display: inline-block;
        width: 90px;
        background-color: white;
        height: 90px;
        border: 1px solid lightgrey;
        vertical-align: top;
        margin: 6px;
    }
}
