<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Plugins</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <template ngFor let-item [ngForOf]="items" let-i="index" [ngForTrackBy]="trackByFn">
      <button class="plugin">
        <img src="./assets/svg/note_2.svg" alt="google calendar">
        <div class="title">
          Google Calendar
        </div>
      </button>
      <button class="plugin">
        <img src="./assets/svg/weather.svg" alt="weather">
        <div class="title">
          Weather
        </div>
      </button>
      <button class="plugin">
        <img src="./assets/svg/dumbbell.svg" alt="morning exercises">
        <div class="title">
          Morning Exercises
        </div>
      </button>
    </template>
  </ion-list>
</ion-content>
